<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>AA106G3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  	<servlet>
		<servlet-name>AdoptaniServlet</servlet-name>
		<servlet-class>com.adoptani.controller.AdoptaniServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdoptaniServlet</servlet-name>
		<url-pattern>/adoptani/adoptani.do</url-pattern>
	</servlet-mapping>
    
     <servlet>
		<servlet-name>AdoptaniPhotoServlet</servlet-name>
		<servlet-class>com.adoptani_photo.controller.AdoptaniPhotoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdoptaniPhotoServlet</servlet-name>
		<url-pattern>/adoptani_photo/adoptani_photo.do</url-pattern>
	</servlet-mapping>
	
	     <servlet>
		<servlet-name>DBGifReader_AdoptaniPhoto</servlet-name>
		<servlet-class>com.adoptani_photo.model.DBGifReader_AdoptaniPhoto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBGifReader_AdoptaniPhoto</servlet-name>
		<url-pattern>/DBGifReader_AdoptaniPhoto/DBGifReader_AdoptaniPhoto.do</url-pattern>
	</servlet-mapping>
  
</web-app>